## Pengenalan Python Dasar - Python Pundamentals

Berikut ini code-code dalam pengenalan python dasar di DataCamp Chapter 1 Python Pundamentals (Learn the core concepts of python, including operators, variables, and data types)

In [15]:
#mencetak integer 42
print(42)

42

In [16]:
#mencetak integer 10 dan 20
print(10)
print(20)

10
20

In [17]:
#operator penjumlahan 
#mencetak hasil penjumlahan
print(10+7)

17

In [18]:
#operator pengurangan
#mencetak hasil pengurangan
print(8-5)

3

In [19]:
#operator pembagian 
#mencetak hasil pembagian
print(2/4)

0.5

In [20]:
#operator gabungan penjumlahan dan perkalian 
#mencetak hasil penjumlahan dan perkalian 
print((1+2)*3)

9

In [21]:
#operator gabungan penjumlahan dan perkalian
#mencetak hasil perkalian dan penjumlahan 
print(1+(2*3))

7

In [22]:
#operator penjumlahan 
#mencetak hasil penjumlahan
print(5+3)

8

In [23]:
#mencetak integer 42 dan 2
print(42)
print(2)

42
2

In [24]:
#operator pangkat
#mencetak hasil pangkat
print(2**3)

8

In [25]:
#operator pangkat
#mencetak hasil pangkat
print(5**2)

25

In [26]:
#operator modulus
#mencetak hasil modulus
print(5%2)

1

In [27]:
#operator modulus
#mencetak hasil modulus
print(6%4)

2

In [28]:
#operator modulus
#mencetak hasil modulus
print(8%5)

3

In [29]:
#membuat dan mencetak variabel savings 
savings = 10
print(savings)

10

In [30]:
#pengurangan antar variabel
income = 100
costs = 20
print(income - costs)

80

In [31]:
#pengurangan antar variabel
revenue = 100
cost = 30 
profit = revenue - cost
print(profit)

70

In [32]:
#mencetak nilai dari variabel terbaru
savings = 100
savings = 200
print(savings)

200

In [33]:
#mencetak nilai dari variabel
savings = 100
print(savings)
savings = 200
print(savings)

100
200

In [34]:
#pengurangan antar variabel
price = 50
reduction = 30
new_price = price - reduction
print(new_price)

20

In [35]:
#contoh integer atau bilangan bulat 
2

2

In [36]:
#contoh floats atau bilangan desimal
10.0
26.0

26.0

In [37]:
#mencetak type dari variabel x
x = 5
print(type(x))

<class 'int'>

In [38]:
#contoh string atau kata-kata/kalimat (yang memiliki tanda kutip)
'colin' 
'c' 
'ireland'

'ireland'

In [39]:
#mencetak langsung type dari nilai yang diberikan
print(type('5'))

<class 'str'>

In [40]:
#contoh boolean 
True
False

False

In [41]:
# penulisan kata 'Benar' atau True yaitu True dengan huruf T kapital
# penulisan kata 'Salah' atau False yaitu False dengan huruf F kapital

In [42]:
#mencetak langsung type dari nilai yang diberikan
print(type(True))

<class 'bool'>

In [43]:
#mencetak langsung type dari nilai yang diberikan
a = 2
b = 3.0
print(type(a*b))

<class 'float'>

In [44]:
#mencetak langsung type dari nilai yang diberikan
print(type(6/3))

<class 'float'>

In [45]:
#mencetak langsung type dari nilai yang diberikan
print(type(6+3))

<class 'int'>

In [46]:
#mencetak langsung type dari nilai yang diberikan
print(type(6*3))

<class 'int'>

In [47]:
#mencetak Hello world
print("Hello world")

Hello world

In [48]:
#penjumlahan antar variabel
first_name = 'Barack'
last_name = 'Obama'
print(first_name + last_name)

BarackObama

In [49]:
#penjumlahan antar variabel
a = '1'
b = '2'
print(a+b)

12

In [50]:
#penjumlahan langsung 
print('i <' + str(3) +' u' )

i <3 u

In [51]:
#penjumlahan langsung 
print(int('2') + 2)

4

In [52]:
#perkalian langsung
print('alright ' * 3)

alright alright alright

In [53]:
#List
#[2,4,6,8] [x, y, z] ['a','b','c','d']

In [54]:
#definisi list yang benar yaitu menggunakan kurung siku []
l = ['a', 'b', 'c']
l = [2, 4, 6]

In [55]:
#mencetak variabel dan list
a = 10
b = [10]
print(a)
print(b)

10
[10]

In [56]:
#mencetak list
l = ['a', 'b', 'c']
print(l)

['a', 'b', 'c']

In [57]:
#mencetak tuple
l = ('a', 'b', 'c')
print(l)

('a', 'b', 'c')

In [58]:
#mencetak dictionary
l = {'a', 'b', 'c'}
print(l)

{'c', 'a', 'b'}

In [59]:
#mencetak list
l = ['9', 8, '7']
print(l)
type(l)

['9', 8, '7']

list

In [60]:
#mencetak list
l = ['9, 8, 7']
print(l)
type(l)

['9, 8, 7']

list

In [61]:
#mencetak string
l = '[9, 8, 7]'
print(l)
type(l)

[9, 8, 7]

str

In [62]:
#mencetak list
l = [9, '8', 7]
print(l)
type(l)

[9, '8', 7]

list

In [63]:
#mencetak list
l = [9, 8, 7]
print(l)
type(l)

[9, 8, 7]

list

In [64]:
#mencetak list
a = 1
b = 2
l = [a,b]
print(l)

[1, 2]

In [65]:
#mencetak list
a = [2, 4]
b = [1, 2, a]
print(b)

[1, 2, [2, 4]]

In [66]:
#huruf l pada keyboard untuk memunculkan angka pada codingan seperti berikut ini

In [67]:
#mencetak list
l = [[1, 2, 3]]
print(type(l))

<class 'list'>

In [68]:
#mencetak list
l = [[1],[2],[3]]
print(type(l))

<class 'list'>

In [69]:
#mencetak list
l = [1, 2, 3]
print(type(l))

<class 'list'>

In [70]:
#mencetak list
l = [1, 2, 3]
m = [l, 4, l, 4]
print(m)

[[1, 2, 3], 4, [1, 2, 3], 4]

In [71]:
#mencetak list
a = [1, 2]
b = [2, 3]
c = [3, 4]
d = [a, b, c]
print(d)

[[1, 2], [2, 3], [3, 4]]

In [72]:
#Indexing
#mengambil elemen kedua dalam list
l = ['a','b','c']
print(l[1])

b

In [73]:
#mengambil elemen ketiga dalam list
l = ['a','b','c']
print(l[2])

c

In [74]:
#mengambil elemen ketiga dan kedua dalam list
l = [1, 2, 3]
print(l[-1])
print(l[-2])

3
2

In [75]:
#mengambil elemen ketiga, keempat dan pertama dalam list
l = ['a','b','c','d']
print(l[2])
print(l[-2])
print(l[3])
print(l[-1])
print(l[0])
print(l[-4])

c
c
d
d
a
a

In [76]:
#Slicing l[Mulai:Akhir]
l = ['a','b','c','d','e']
print(l[1:3])
print(l[2:3])

['b', 'c']
['c']

In [77]:
l = ['a','b','c','d','e']
print(l[:2])
print(l[:3])

['a', 'b']
['a', 'b', 'c']

In [78]:
l = ['a','b','c','d','e','f']
print(l[2:])
print(l[3:])

['c', 'd', 'e', 'f']
['d', 'e', 'f']

In [79]:
l = [9, 4, 8, 3, 5]
print(l[-3:4])

[8, 3]

In [80]:
l = [1, 2, 3]
print(l[-2])

2

In [81]:
#SUBLIST untuk mengakses sublist dari element kedua sublist pertama yaitu l[1][0]
l = [[7, 6], [8, 9], [10, 11]]
print(l[1][0])

8

In [82]:
l = [[7, 6], [8, 4, 9], [10, 11]]
print(l[1][2])

9

In [83]:
l = [[2, 3, 3], [4, 1, 12], [6, 2, 12]]
print(l[1][1]+l[2][2])

13

In [84]:
l = [[2, 3, 5], [4, 1, 12, 13, 6]]
print(l[1][2:])

[12, 13, 6]

In [85]:
l = [[2, 1, 9, 4, 2],[9, 4, 2, 3, 8]]
print(l[1][:2])

[9, 4]

In [86]:
l = [[2, 1, 9, 4, 2],[9, 4, 2, 3, 8]]
print(l[1][:-2])

[9, 4, 2]

In [87]:
l = [1, [2, 3, 4], 5]
print(l[1][1:][0])

3

In [88]:
l = [[2, 1, 8], [10, 11, 12], [13, 9]]
print(l[1][2])

12

In [89]:
l = [4, 6, 3, 9]
print(l[:])

[4, 6, 3, 9]

In [90]:
l = [5, 6, 4, 2]
l[2] = 100
print(l)

[5, 6, 100, 2]

In [91]:
l = [2, 4, 6, 8, 10, 12]
x = l[2:5]
print(x)

[6, 8, 10]

In [92]:
a = [1, 3, 5]
b = [2, 4, 6]
print(a+b)

[1, 3, 5, 2, 4, 6]

In [93]:
#menghapus list keempat
l = [2, 3, 6, 8, 10]
del(l[3])
print(l)

[2, 3, 6, 10]

In [94]:
l = [5, 2] + [2, 1]
del(l[1])
print(l)

[5, 2, 1]

In [95]:
a = 1
b = a
a = 6
print(a)
print(b)

6
1

In [96]:
a = [1, 9]
b = a
a[0] = 9
print(a)
print(b)

[9, 9]
[9, 9]

In [97]:
a = [2, 4, 3]
b = a
a[2] = 6
print(b)

[2, 4, 6]

In [98]:
a = [1, 2, 4]
b = a
b[2] = 2
print(a)

[1, 2, 2]

In [99]:
l = [1, 3, 6]
x = l[:]
x[2] = 5
print(l)

[1, 3, 6]

In [100]:
l = [7, 2, 1]
x = l[:]
l[1] = 200
print(x)

[7, 2, 1]

In [101]:
l = [2, 4, 6, 8]
x = l[1:]
del(x[0])
print(x)

[6, 8]

In [102]:
a = [3, 5] + [7, 9]
b = a
del(b[2])
print(a)

[3, 5, 9]

                                ##Semoga Bermanfaat
                                ##@Raspiani_